<!-- <form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="emailForm">
  <app-input [control]="emailForm.get('to')" inputType="email" label="To">
  </app-input>

  <app-input [control]="emailForm.get('from')" inputType="email" label="From">
  </app-input>

  <app-input
    [control]="emailForm.get('subject')"
    inputType="text"
    label="Subject"
  >
  </app-input>

  <app-input
    controlType="textarea"
    [control]="emailForm.get('text')"
    label="Content"
  >
  </app-input>

  <button class="ui button primary">Send</button>
</form> -->


<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="emailForm">
    <app-input [control]="emailForm.get('to')" inputType="email" label="To111" ></app-input>
    <app-input [control]="emailForm.get('from')" inputType="email" label="From111" ></app-input>
    <app-input [control]="emailForm.get('subject')" inputType="text" label="Subject111" ></app-input>
    <app-input [control]="emailForm.get('text')" controlType="textarea" inputType="text" label="Content" ></app-input>

    <button class="ui button pirmary">
    Send111
    </button>

</form>
